{
  "presets": [
    ["@babel/env", {
      "exclude": ["transform-arrow-functions", "transform-regenerator"],
      "modules": false
    }]
  ],
  plugins: ["@babel/plugin-proposal-object-rest-spread"]
}
